<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team7dev.quizgeekbr">

    <application
        android:name=".QuizGeekBRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <service android:name=".MusicService" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme"            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Creditos"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Eighteen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Seventeen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sixteen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Fifteen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Fourteen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Thirteen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Twelve"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Eleven"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Ten"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Nine"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Eight"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Seven"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Six"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Five"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Four"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Three2"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Three"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Two"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Inicial"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


            </intent-filter>
        </activity>


    </application>

</manifest>